<div ng-controller="reportReservationVehiculeController as ctrl">


  <div  class="panel panel-default">
    <div class="panel-heading">
      <h1>Votre réservation</h1>
    </div>

    <div class="panel-body row">
    </div>
  </div>


  <div class="col-lg-8 col-md-6" >
    <div class="panel-body">
      <div class="col-md-6 ">
        <label >Code reservation<span class="requis">*</span></label>
        <input type="text" ng-model="ctrl.codeReservation" class="form-control" id="codeReservation" placeholder="Code Reservation" required size="30" maxlength="30" />
      </div>
      <div>
        <button ng-click="ctrl.generateReport()"  class="btn btn-success">Imprimer</button>
      </div>




    </div>
  </div>



</div>
