<div   id="categorie" ng-controller="vehiculeController as opvCtrl">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Vehicule</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-info ">
            <div class="panel-heading">Vehicule</div>

            <div class="panel-body">
                <form >
                    <div class="form-group">
                        <label class="control-label">Nom </label>
                        <input type="text" ng-model="opvCtrl.vehicule.element.nom" class="form-control" />
                        <span ng-if="opvCtrl.vehicule.errors.nom" class="label label-danger ">{{opvCtrl.vehicule.errors.nom}}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Numero Série </label>
                        <input type="text" ng-model="opvCtrl.vehicule.element.numeroSerie" class="form-control" />
                        <span ng-if="opvCtrl.vehicule.errors.numeroSerie" class="label label-danger">{{opvCtrl.vehicule.errors.numeroSerie}}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Immatriculation </label>
                        <input type="text" ng-model="opvCtrl.vehicule.element.immatriculation" class="form-control" />
                        <span ng-if="opvCtrl.vehicule.errors.immatriculation" class="label label-danger">{{opvCtrl.vehicule.errors.immatriculation}}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Categorie  </label>
                        <select  class="form-control" ng-model="opvCtrl.vehicule.element.acrissCarCode1"  ng-options="a.categorie for a in opvCtrl.vehicule.acrissCarCode1" >
                            <option  value=""> Choix Categorie </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Type </label>
                        <select  class="form-control" ng-model="opvCtrl.vehicule.element.acrissCarCode2"  ng-options="a.typeVehicule for a in opvCtrl.vehicule.acrissCarCode2" >
                            <option  value=""> Choix  de Type </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label"> Trassmission / Drive  </label>
                            <select  class="form-control" ng-model="opvCtrl.vehicule.element.acrissCarCode3"  ng-options="'T: '+a.transmission+' D: '+a.drive for a in opvCtrl.vehicule.acrissCarCode3 " >
                                <option  value=""> Choix Trassmission / Drive </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="control-label"> Fuel / Air Condition  </label>
                            <select  class="form-control" ng-model="opvCtrl.vehicule.element.acrissCarCode4"  ng-options="'F: '+a.fuel+' Air: '+a.airCondition for a in opvCtrl.vehicule.acrissCarCode4" >
                                <option  value=""> Choix Fuel / Air Condition </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Agence </label>
                        <select  class="form-control" ng-model="opvCtrl.vehicule.element.agence"  ng-options="'Ag: '+c.nom +' Com: '+c.compagnie.nom   for c in opvCtrl.vehicule.agences" >
                            <option  value=""> Choix de la Agence </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-5">
                                <label class="control-label">Prix </label>
                            </div>
                            <div class="col-xs-3">
                                <button class="glyphicon glyphicon-plus btn btn-success" ng-click="opvCtrl.vehicule.ajouterUnPrix()"></button>
                            </div>
                            <div class="col-xs-3">
                                <button class="glyphicon glyphicon-remove btn btn-danger" ng-click=" opvCtrl.vehicule.suprimerUnPrix(p)"></button>
                            </div>
                        </div>
                        <div ng-repeat="p in opvCtrl.vehicule.listPrixVehicule">
                            <div class="row">

                                <div class="col-xs-4">
                                    <select  class="form-control" ng-model="p.tarifsVehicule"  ng-options="t.type for t in opvCtrl.vehicule.tarifs" >
                                        <option  value=""> Type Tarif </option>
                                    </select>
                                </div>

                                <div class="col-xs-4">
                                    <input type="text" ng-model="p.montant" class="form-control" />
                                </div>

                                <div class="col-xs-4">
                                    <select  class="form-control" ng-model="p.devis"  ng-options="d.code for d in opvCtrl.vehicule.devis" >
                                        <option  value=""> Devis </option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div>
                        <button ng-click="opvCtrl.vehicule.add()" class="btn btn-primary">Ajouter</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-12"></div>

    <div class="col-md-7 col-sm-6 col-xs-12">
        <div class="panel panel-info">
            <div class="panel panel-heading ">Info Vehicule</div>
            <div class="panel panel-body">
                <form class="form-group" id="list">

                    <div class="form-group">
                        <label class="control-label">Vehicule</label>
                        <input type="text" class="input-group" ng-model="opvCtrl.vehicule.recherche" />
                        <button ng-click="opvCtrl.vehicule.viewAll()" class="btn btn-primary btn-sm">Afficher Tous</button> <br/>
                        <div ng-show="opvCtrl.vehicule.messageInfo" ><p class="bg-success">{{opvCtrl.vehicule.messageInfo}}</p></div>

                    </div>
                    <div class="panel">
                        <table class="table-responsive table-striped table-bordered  table-hover table-condensed">
                            <thead>
                            <tr>
                                <th> Id </th>
                                <th class="text-center"> Nom</th>
                                <th class="text-center"> Numero Série</th>
                                <th class="text-center"> Immatriculation</th>
                                <th class="text-center"> Categorie</th>
                                <th class="text-center"> Type</th>
                                <th class="text-center"> Trassmission / Drive</th>
                                <th class="text-center"> Fuel / Air Condition</th>
                                <th class="text-center"> Agence</th>
                                <th class="text-center"> Disponible</th>
                                <th colspan="2" class="text-center"> action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="tp in opvCtrl.vehicule.data.page | orderBy: 'nom' | filter: opvCtrl.vehicule.recherche " >

                                <td class="text-right">
                                    <div >{{tp.element.id}}</div>
                                </td>
                                <td class="text-center">
                                    <div ng-hide="opvCtrl.vehicule.editingData[tp.element.id]">{{tp.element.nom}}</div>
                                    <div ng-show="opvCtrl.vehicule.editingData[tp.element.id]">
                                        <input type="text" ng-model="tp.element.nom" />
                                        <span ng-if="tp.element.errors.nom" class="label label-danger">{{tp.element.errors.nom}}</span>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div ng-hide="opvCtrl.vehicule.editingData[tp.element.id]">{{tp.element.numeroSerie}}</div>
                                    <div ng-show="opvCtrl.vehicule.editingData[tp.element.id]">
                                        <input type="text" ng-model="tp.element.numeroSerie" />
                                        <span ng-if="tp.element.errors.numeroSerie" class="label label-danger">{{tp.element.errors.numeroSerie}}</span>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div ng-hide="opvCtrl.vehicule.editingData[tp.element.id]">{{tp.element.immatriculation}}</div>
                                    <div ng-show="opvCtrl.vehicule.editingData[tp.element.id]">
                                        <input type="text" ng-model="tp.element.immatriculation" />
                                        <span ng-if="tp.element.errors.immatriculation" class="label label-danger">{{tp.element.errors.immatriculation}}</span>
                                    </div>
                                </td>

                                <td class="text-center">
                                    <div ng-hide="opvCtrl.vehicule.editingData[tp.element.id]">{{tp.element.acrissCarCode1.categorie}}</div>
                                    <div ng-show="opvCtrl.vehicule.editingData[tp.element.id]">
                                        <select  class="form-control" ng-model="tp.element.acrissCarCode1" ng-options="a.categorie for a in opvCtrl.vehicule.acrissCarCode1 track by a.code" >
                                            <option  value="">  categorie </option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div ng-hide="opvCtrl.vehicule.editingData[tp.element.id]">{{tp.element.acrissCarCode2.typeVehicule}}</div>
                                    <div ng-show="opvCtrl.vehicule.editingData[tp.element.id]">
                                        <select  class="form-control" ng-model="tp.element.acrissCarCode2" ng-options="a.typeVehicule for a in opvCtrl.vehicule.acrissCarCode2 track by a.code" >
                                            <option  value="">  Type  </option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div ng-hide="opvCtrl.vehicule.editingData[tp.element.id]">{{tp.element.acrissCarCode3.transmission +" / "+tp.element.acrissCarCode3.drive}}</div>
                                    <div ng-show="opvCtrl.vehicule.editingData[tp.element.id]">
                                        <select  class="form-control" ng-model="tp.element.acrissCarCode3" ng-options="'T: '+a.transmission+' D: '+a.drive for a in opvCtrl.vehicule.acrissCarCode3 track by a.code" >
                                            <option  value=""> Transmission / Drive </option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div ng-hide="opvCtrl.vehicule.editingData[tp.element.id]">{{tp.element.acrissCarCode4.fuel +" / "+ tp.element.acrissCarCode4.airCondition}}</div>
                                    <div ng-show="opvCtrl.vehicule.editingData[tp.element.id]">
                                        <select  class="form-control" ng-model="tp.element.acrissCarCode4" ng-options="'Ag: '+c.nom +' Com: '+c.compagnie.nom   for c in opvCtrl.vehicule.agences track by c.code" >
                                            <option  value=""> Agence </option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div ng-hide="opvCtrl.vehicule.editingData[tp.element.id]">{{tp.element.agence.nom }}</div>
                                    <div ng-show="opvCtrl.vehicule.editingData[tp.element.id]">
                                        <select  class="form-control" ng-model="tp.element.agence" ng-options="'Ag: '+c.nom +' Com: '+c.compagnie.nom   for c in opvCtrl.vehicule.agences track by c.id" >
                                            <option  value=""> Choix de la compagnie </option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div ng-hide="opvCtrl.vehicule.editingData[tp.element.id]">
                                        <p ng-show="tp.element.reserver"  class="glyphicon glyphicon-remove-circle btn btn-xs btn-danger "></p>
                                        <p ng-hide="tp.element.reserver"  class="glyphicon glyphicon-ok-circle btn btn-xs btn-xs btn-success "></p>
                                    </div>
                                    <div ng-show="opvCtrl.vehicule.editingData[tp.element.id]">
                                        <input type="checkbox" ng-model="tp.element.reserver" />
                                        <span ng-if="tp.element.errors.reserver" class="label label-danger">{{tp.element.errors.reserver}}</span>
                                    </div>
                                </td>

                                <td>
                                    <button ng-click="opvCtrl.vehicule.remove(tp)"class="btn btn-sm btn-danger">
                                        Suprimer
                                    </button>
                                </td>
                                <td>
                                    <button ng-hide="opvCtrl.vehicule.editingData[tp.element.id]" ng-click="opvCtrl.vehicule.modify(tp)" class="btn btn-sm btn-warning">Modify</button>
                                    <button ng-show="opvCtrl.vehicule.editingData[tp.element.id]" ng-click="opvCtrl.vehicule.update(tp)" class="btn btn-sm btn-success">Update</button>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </form>
                <div class ="panel">
                    <ul class="nav nav-pills">
                        <li class="clikabble" ng-class="{active:p==opvCtrl.vehicule.pageCourante}" ng-repeat="p in opvCtrl.vehicule.data.pageIndex  ">
                            <a ng-click="opvCtrl.vehicule.goToPage(p)" >{{p}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>




</div>