<div ng-controller="loginCtrl">
    <div class="headline"><h2>Authentification</h2></div>
    <!-- Contact Form -->
    <form >					
        <div class="col-md-9 col-md-offset-0">
            <label for="email">Votre identifiant <span class="requis">*</span></label>
            <input type="text" class="form-control" id="email" value="" required="" size="20" maxlength="60"/>			
        </div>
        <div class="col-md-9 col-md-offset-0" style="opacity: 0">.....</div>
        <div class="col-md-9 col-md-offset-0">
            <label for="mdp">votre mot de passe <span class="requis">*</span></label>
            <input type="password" class="form-control" id="mdp" value="" required="" size="20" maxlength="20" />	
        </div>
        <div class="col-md-9 col-md-offset-0" style="opacity: 0">.....</div>
        <div class="col-md-6 col-md-offset-0">			         	
            <input type="submit" value="Login" class="btn btn-aqua" />
        </div>					
    </form>		
</div>
